/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #5372f0;
  --dark-color: #0b0217;
  --light-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.home {
  position: relative;
  display: flex; /* o flexbox é usado aqui para centralizar o container */
  flex-direction: column; /* Empilha os elementos verticalmente */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
}

.form_container {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form_container h2 {
  font-size: 22px;
  color: var(--dark-color);
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: var(--primary-color);
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: var(--primary-color);
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

/* Floating placeholder */
.input_box label {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 14px;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #6d6c6c;
}

.input_box label.active {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: var(--primary-color);
}

/* Form Validation */

.input_box.success input {
  border-bottom: 1.5px solid #09c372;
}

.input_box.error input {
  border-bottom: 1.5px solid #ff3860;
}

.input_box .error {
  color: #ff3860;
  font-size: 12px;
  height: 13px;
}

/* Alert modal + progress bar */

.alert-success {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); /* Ajusta o alinhamento central */
  background-color: #d4edda;
  color: #155724;
  padding: 10px 20px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Inicialmente escondido */
  white-space: nowrap; /* Evita quebra de linha */
}

.alert-success .progress-bar {
  height: 5px;
  width: 0; /* Largura inicial (começa invisível) */
  background-color: #28a745;
  border-radius: 3px;
  margin-top: 10px;
  transition: width 3s linear;
}

/* End Form Validation */

.option_field {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: var(--primary-color);
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: var(--primary-color);
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: var(--primary-color);
  color: #fff;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
  transition: all 0.2s ease;
}

.form_container .button:hover {
  background-color: #394ea1;
}

.form_container .button:active {
  transform: scale(0.99);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
